<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Company Directory</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <div class="outerContainer">
      {{#users}}
      <div class="infoContainer">

        <img src={{avatar}} alt="headshot">
        <h5 class="name">{{name}}</h5>
        <span class="job">{{job}}, </span>
        <span class="company"> {{company}}</span>

      </div>
      {{/users}}
    </div>
  </body>
</html>
