<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Profile page</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="profileInfoCard">
    <div class="topRow">
      <div class="profile">
        <img src= {{avatar}} alt="headshot" class="profilePic">
        <div class="personalInfo">
        <div class="name">
          <h2 class="profileName">{{name}}</h2>
        </div>
        <div>
          <p>
          {{#address.city}}<span class="location">{{address.city}}, </span>{{/address.city}}
            <span>{{address.country}} | </span>
            {{#job}}<span>{{job}}, {{company}}</span>{{/job}}
          {{^company}}<span class="company">{{job}}Available for Hire</span>{{/company}}
          </p>
          <p>
            <span class="contactInfo">{{email}} | </span>
            <span>{{phone}}</span>
          </p>
        </div>
        </div>
      </div>
    </div>
        <div class="bottomRow">
          <div class="educationInfo">


          {{#university}}
            <h3 class="education">Education</h3>
            <span class="school">{{university}}</span>
          {{/university}}
          </div>
        </div>
        <div class="skills-flex">
          <h3 class="skills">Skills</h3>

          <ul>
            {{#skills}}
              <li> {{.}}</li>
            {{/skills}}
          </ul>

        </div>
      </div>
</body>

</html>
